<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!-- please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination -->
		<add name="ConnectionString.MS Access (OleDb)" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\mdb-migration-project\mapping\template.accdb;User Id=;Password=;Jet OLEDB:System Database=;Jet OLEDB:Database password="/>
	</connectionStrings>
</configuration> 